@import url("https://fonts.googleapis.com/css?family=Abel:400|Adamina:400|Abhaya+Libre:400|Advent+Pro:500");
/* !! Figure Out Slider If Wanted !! Image Imported For Reference Of Placing and Look !! */

/* Style Guide Variables */
:root {
    --black: rgba(0, 0, 0, 1);
    --bg: rgba(11, 29, 38, 1);
    --accent: rgba(251, 215, 132, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-m2: 18px;
    --font-size-l2: 24px;
    --font-size-xl2: 36px;
    --font-size-xxl: 48px;
    --font-size-xxxl: 64px;
    --font-size-xxxxl: 96px;
    --font-size-xxxxxl: 240px;

    --font-family-abel: "Abel";
    --font-family-abhaya_libre: "Abhaya Libre";
    --font-family-adamina: "Adamina";
    --font-family-advent_pro: "Advent Pro";
}

/* Preset Classes */
.abel-normal-white-240px {
    color: var(--white);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-xxxxxl);
    font-weight: 400;
    font-style: normal;
}
.abhayalibre-normal-white-64px {
    color: var(--white);
    font-family: var(--font-family-abhaya_libre);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    font-style: normal;
}
.adamina-normal-grandis-48px {
    color: var(--accent);
    font-family: var(--font-family-adamina);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
}
.adamina-normal-grandis-18px {
    color: var(--accent);
    font-family: var(--font-family-adamina);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
}
.abel-normal-white-18px {
    color: var(--white);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
}
.abel-normal-grandis-18px {
    color: var(--accent);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
}
.adventpro-medium-white-18px {
    color: var(--white);
    font-family: var(--font-family-advent_pro);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
}

/* HEADER */
* {
    box-sizing: border-box;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-group-1 {
    height: 4232px;
    position: relative;
    width: 1940px;
}

.frame {
    background-image: url(https://github.com/vjsarlo/bioSite/blob/main/img/frame-2%401x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1529px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1920px;
}

.slider {
    height: 440px;
    left: 1663px;
    position: absolute;
    top: 226px;
    width: 277px;
}

.content-top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 197px;
    left: 500px;
    position: absolute;
    top: 287px;
    width: 950px;
}

.group-1 {
    align-items: center;
    display: flex;
    height: 65px;
    min-width: 333px;
    padding: 0 0px;
}

.rectangle {
    background-color: var(--accent);
    height: 4px;
    margin-top: 3px;
    width: 120px;
}

.meet {
    color: var(--accent);
    font-family: var(--font-family-adamina);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    letter-spacing: 6px;
    margin-left: 41px;
    min-height: 65px;
    min-width: 170px;
}

.kaley-mc-carthy {
    color: var(--white);
    font-family: var(--font-family-abhaya_libre);
    font-size: var(--font-size-xxxxl);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 100px;
    margin-top: 32px;
    min-height: 100px;
    text-align: center;
    white-space: nowrap;
    width: 950px;
}

.header {
    align-items: flex-start;
    display: flex;
    height: 52px;
    left: 80px;
    position: absolute;
    top: 64px;
    width: 1760px;
}

.logo {
    color: var(--white);
    font-family: var(--font-family-abhaya_libre);
    font-size: var(--font-size-xl2);
    font-weight: 400;
    letter-spacing: 0.36px;
    min-height: 42px;
    width: 253px;
    text-underline-position: auto;
    height: 37px;
    width: 346px;
}

.about-me {
    cursor: pointer;
    transition: all 0.2s ease;
    height: 23px;
    letter-spacing: 0;
    margin-left: 393px;
    margin-top: 2px;
    min-width: 64px;
}

.hobbies {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    margin-left: 66px;
    margin-top: 2px;
    min-height: 23px;
    min-width: 55px;
}

.connect {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    margin-left: 60px;
    margin-top: 2px;
    min-height: 23px;
}

.connect:hover,
.hobbies:hover,
.about-me:hover {
    color: #fbd784;
}

/* CONTENT */
.content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 2772px;
    left: 271px;
    position: absolute;
    top: 1460px;
    width: 1465px;
}

.content-1 {
    align-items: center;
    display: flex;
    margin-left: 1px;
    min-width: 1463px;
}

.overlap-group-2 {
    height: 579px;
    margin-bottom: 72.58px;
    position: relative;
    width: 789px;
}

.equipment-01 {
    left: 0;
    letter-spacing: 0;
    line-height: 240px;
    opacity: 0.1;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 248px;
}

.content-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 377px;
    left: 157px;
    position: absolute;
    top: 202px;
    width: 632px;
}

.tagline-01 {
    align-items: center;
    display: flex;
    height: 25px;
    min-width: 255px;
}

.line {
    background-color: var(--accent);
    height: 2px;
    margin-bottom: 3px;
    width: 72px;
}

.who-am-i {
    letter-spacing: 6px;
    margin-left: 24px;
    min-height: 25px;
    min-width: 157px;
}

.the-princess {
    letter-spacing: 0;
    margin-top: 27px;
    min-height: 152px;
    width: 555px;
}

.with-a-passion {
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 27px;
    min-height: 96px;
    width: 632px;
}

.more:hover {
    transform: scale(1.1);
}
  
.more {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 23px;
    margin-top: 27px;
    min-width: 199px;
    transition: all 1s ease-in-out;
}

.learn-about-me {
    letter-spacing: 0;
    min-height: 23px;
    min-width: 105px;
}

.iconnavigationarrow_downward_24px {
    height: 17px;
    margin-bottom: 0;
    margin-left: 9px;
    width: 24px;
}

.image-1 {
    height: 728px;
    margin-left: 101px;
    object-fit: cover;
    width: 573px;
}

.content-3 {
    align-items: center;
    display: flex;
    margin-left: 1px;
    margin-top: 200px;
    min-width: 1463px;
}

.image-2 {
    height: 732px;
    object-fit: cover;
    width: 567px;
}

.overlap-group-3 {
    height: 579px;
    margin-bottom: 75.37px;
    margin-left: 114px;
    position: relative;
    width: 775px;
}

.equipment-02 {
    left: 0;
    letter-spacing: 0;
    line-height: 240px;
    opacity: 0.1;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 243px;
}

.content-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 377px;
    left: 143px;
    position: absolute;
    top: 202px;
    width: 632px;
}

.tagline-02 {
    align-items: center;
    display: flex;
    height: 25px;
    min-width: 276px;
}

.my-hobbies {
    letter-spacing: 6px;
    margin-left: 24px;
    min-height: 25px;
    min-width: 178px;
}


.gross-food {
    letter-spacing: 0;
    margin-top: 27px;
    min-height: 152px;
    width: 555px;
}

.cows-brain {
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 27px;
    min-height: 96px;
    width: 632px;
}

.more-1:hover {
    transform: scale(1.1);
}
  
.more-1 {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 23px;
    margin-top: 27px;
    min-width: 199px;
    transition: all 1s ease-in-out;
}

.discover-more {
    letter-spacing: 0;
    min-height: 23px;
    min-width: 96px;
}

.iconnavigationarrow_downward_24px-2 {
    height: 16px;
    margin-left: 15px;
    margin-top: 1px;
    width: 24px;
}

.content-5 {
    align-items: flex-start;
    display: flex;
    margin-top: 200px;
    min-width: 1465px;
}

.equipment-2 {
    letter-spacing: 0;
    line-height: 240px;
    margin-top: 48.13px;
    min-height: 304px;
    opacity: 0.1;
    width: 249px;
}

.image-3 {
    height: 912px;
    margin-left: 643px;
    object-fit: cover;
    width: 574px;
}

.content-7 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 529px;
    left: 419px;
    position: absolute;
    top: 3570px;
    width: 632px;
}

.tagline-03 {
    align-items: center;
    display: flex;
    height: 25px;
    min-width: 413px;
}

.follow-my-journey {
    letter-spacing: 6px;
    margin-left: 24px;
    min-height: 25px;
    min-width: 315px;
}

.where-will-i-be {
    letter-spacing: 0;
    margin-top: 27px;
    min-height: 304px;
    width: 555px;
}

.my-journey-has-been {
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 27px;
    min-height: 96px;
    width: 632px;
}

.more-2:hover {
    transform: scale(1.1);
}
  
.more-2 {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 23px;
    margin-top: 27px;
    min-width: 199px;
    transition: all 1s ease-in-out;
}

.discover-more-1 {
    letter-spacing: 0;
    min-height: 23px;
    min-width: 150px;
}

.iconnavigationarrow_downward_24px-3 {
    height: 16px;
    margin-left: 23px;
    margin-top: 1px;
    width: 24px;
}

/* FOOTER */
.footer {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 190px;
    margin-left: 9px;
    margin-top: 57px;
    min-width: 1529px;
}

.kaley-mccarthy {
    align-items: flex-start;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    height: 4672px;
    overflow: hidden;
    width: 1920px;
}

.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 190px;
    width: 319px;
    }

.kaley {
    color: var(--white);
    font-family: var(--font-family-abhaya_libre);
    font-size: var(--font-size-xl2);
    font-weight: 400;
    letter-spacing: 0.36px;
    min-height: 42px;
    width: 253px;
}

.its-a-dangerous {
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 20px;
    min-height: 128px;
    width: 319px;
}

.links {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    margin-left: 984px;
    min-height: 181px;
    width: 232px;
}

.connect-1 {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 40.65px;
    margin-top: 16px;
    min-height: 32px;
    white-space: nowrap;
    width: 57px;
}

.about-her {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 23.8px;
    margin-top: 21px;
    min-height: 32px;
    white-space: nowrap;
    width: 74px;
}

.explore-kaley-mc-carthy {
    color: var(--accent);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-l2);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 8px;
    min-height: 32px;
    white-space: nowrap;
    width: 224px;
}

.her-hobbies {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 6.95px;
    margin-top: 16px;
    min-height: 32px;
    white-space: nowrap;
    width: 91px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-her:hover,
.her-hobbies:hover,
.connect-1:hover {
    color: #fbd784;
}






