/* Vincent Sarlo */

@import url("https://fonts.googleapis.com/css?family=Adamina:400|Abhaya+Libre:400|Abel:400|Advent+Pro:500");
/* !! Find Way to Preshow Instagram Account Over Just Linking It !! */


/* Style Guide Variables */
:root {
    --black: rgba(0, 0, 0, 1);
    --bg: rgba(11, 29, 38, 1);
    --accent: rgba(251, 215, 132, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-m2: 18px;
    --font-size-l2: 24px;
    --font-size-xl2: 36px;
    --font-size-xxl: 48px;
    --font-size-xxxl: 64px;
    --font-size-xxxxl: 96px;
    --font-size-xxxxxl: 240px;

    --font-family-abel: "Abel";
    --font-family-abhaya_libre: "Abhaya Libre";
    --font-family-adamina: "Adamina";
    --font-family-advent_pro: "Advent Pro";
}

/* Preset Classes */
.abel-normal-white-240px {
    color: var(--white);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-xxxxxl);
    font-weight: 400;
    font-style: normal;
}
.abhayalibre-normal-white-64px {
    color: var(--white);
    font-family: var(--font-family-abhaya_libre);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    font-style: normal;
}
.adamina-normal-grandis-48px {
    color: var(--accent);
    font-family: var(--font-family-adamina);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
}
.adamina-normal-grandis-18px {
    color: var(--accent);
    font-family: var(--font-family-adamina);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
}
.abel-normal-white-18px {
    color: var(--white);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
}
.abel-normal-grandis-18px {
    color: var(--accent);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-m2);
    font-weight: 400;
    font-style: normal;
}
.adventpro-medium-white-18px {
    color: var(--white);
    font-family: var(--font-family-advent_pro);
    font-size: var(--font-size-m2);
    font-weight: 500;
    font-style: normal;
}

/* HEADER */
* {
    box-sizing: border-box;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group-1 {
    height: 4232px;
    position: relative;
    width: 1940px;
}

.frame {
    background-image: url(https://github.com/vjsarlo/bioSite/raw/main/img/frame-2%401x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 1529px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1920px;
}

.content-top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 197px;
    left: 500px;
    position: absolute;
    top: 287px;
    width: 950px;
}

.group-1 {
    align-items: center;
    display: flex;
    height: 65px;
    min-width: 333px;
    padding: 0 0px;
}

.rectangle {
    background-color: var(--accent);
    height: 4px;
    margin-top: 3px;
    width: 120px;
}

.meet {
    color: var(--accent);
    font-family: var(--font-family-adamina);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    letter-spacing: 6px;
    margin-left: 41px;
    min-height: 65px;
    min-width: 170px;
}

.kaley-mc-carthy {
    color: var(--white);
    font-family: var(--font-family-abhaya_libre);
    font-size: var(--font-size-xxxxl);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 100px;
    margin-top: 32px;
    min-height: 100px;
    text-align: center;
    white-space: nowrap;
    width: 950px;
}

.header {
    align-items: flex-start;
    display: flex;
    height: 52px;
    left: 80px;
    position: absolute;
    top: 64px;
    width: 1760px;
}

.logo {
    color: var(--white);
    font-family: var(--font-family-abhaya_libre);
    font-size: var(--font-size-xl2);
    font-weight: 400;
    letter-spacing: 0.36px;
    min-height: 42px;
    width: 253px;
    text-underline-position: auto;
    height: 37px;
    width: 346px;
}

.about-me {
    cursor: pointer;
    transition: all 0.2s ease;
    height: 23px;
    letter-spacing: 0;
    margin-left: 393px;
    margin-top: 2px;
    min-width: 64px;
    text-decoration: none;
}

.hobbies {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    margin-left: 66px;
    margin-top: 2px;
    min-height: 23px;
    min-width: 55px;
    text-decoration: none;
}

.connect {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    margin-left: 60px;
    margin-top: 2px;
    min-height: 23px;
    text-decoration: none;
}

.connect:hover,
.hobbies:hover,
.about-me:hover {
    color: #fbd784;
}

/* CONTENT */
.content {
    align-items: center;
    display: flex;
    height: 1835px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 1442px;
    width: 1920px;
}

.equipment {
  color: var(--white);
  font-family: var(--font-family-abel);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  right: 1150px;
  margin-left: 100px;
  letter-spacing: 0;
  line-height: 240px;
  opacity: 0.1;
  position: absolute;
  top: 1500px;
  white-space: nowrap;
  width: 164px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.content-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 2651px;
  left: 200px;
  position: absolute;
  top: 1445px;
  width: 1747px;
}

* {
  box-sizing: border-box;
}

.content-2 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  min-width: 1463px;
}

.content-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 712px;
  margin-bottom: -15px;
  width: 730px;
}

.tagline {
  align-items: center;
  display: flex;
  height: 65px;
  min-width: 599px;
}

.line {
  background-color: var(--accent);
  height: 4px;
  margin-bottom: 3px;
  width: 140px;
}

.my-hobbies {
  letter-spacing: 6px;
  margin-left: 73px;
  min-height: 65px;
  min-width: 384px;
}

.where-there-is {
  letter-spacing: 0;
  margin-top: 27px;
  min-height: 600px;
  width: 730px;
}

.image-1{
  height: 732px;
  margin-bottom: -15px;
  object-fit: cover;
  width: 952px;
}

.content-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  min-height: 732px;
  width: 1463px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: -141px;
  margin-top: 198px;
  min-width: 1605px;
}

.image-3{
  height: 732px;
  margin-left: 46px;
  object-fit: cover;
  width: 567px;
}

.content-6 {
  align-items: flex-end;
  display: flex;
  height: 780px;
  overflow: hidden;
  width: 992px;
}

.if-kaley{
  letter-spacing: 0;
  margin-bottom: -9px;
  min-height: 789px;
  width: 992px;
  margin-left: 50px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 773px;
  margin-left: -76.31px;
  margin-top: -41px;
  min-width: 1624px;
}

.content-5 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 765px;
  margin-left: 93px;
  width: 964px;
}

.kaleys-passion {
  letter-spacing: 0;
  min-height: 765px;
  width: 964px;
}

.image-2 {
  height: 732px;
  width: 567px;
}

/* FOOTER */
.footer {
    align-items: flex-start;
    align-self: center;
    display: flex;
    height: 190px;
    margin-left: 9px;
    margin-top: 57px;
    min-width: 1529px;
}

.kaley-mccarthy {
    align-items: flex-start;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    height: 4672px;
    overflow: hidden;
    width: 1920px;
}

.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 190px;
    width: 319px;
}

.kaley {
    color: var(--white);
    font-family: var(--font-family-abhaya_libre);
    font-size: var(--font-size-xl2);
    font-weight: 400;
    letter-spacing: 0.36px;
    min-height: 42px;
    width: 253px;
}

.its-a-dangerous {
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 20px;
    min-height: 128px;
    width: 319px;
}

.links {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    margin-left: 984px;
    min-height: 181px;
    width: 232px;
}

.explore-kaley-mc-carthy {
    color: var(--accent);
    font-family: var(--font-family-abel);
    font-size: var(--font-size-l2);
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 8px;
    min-height: 32px;
    white-space: nowrap;
    width: 224px;
}

.home {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 23.8px;
    margin-top: 21px;
    min-height: 32px;
    white-space: nowrap;
    width: 74px;
}

.about-her {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 40.65px;
    margin-top: 16px;
    min-height: 32px;
    white-space: nowrap;
    width: 57px;
}

.connect-1 {
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 6.95px;
    margin-top: 16px;
    min-height: 32px;
    white-space: nowrap;
    width: 91px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home:hover, 
.about-her:hover, 
.connect-1:hover {
    color: #fbd784;
}

